{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Account Login</title>
  <!-- Bootstrap core CSS -->
  <!-- <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" />
    <link href="{% static 'css/style.css'%}" rel="stylesheet" /> -->
</head>

<body>

  <form id="login" class="well" method="POST" action="{% url 'sendmail' %}">
    <div class="form-group">
      {% csrf_token %}
      {{ form }}
      {{ error }}
    </div>

    <button type="submit" class="btn btn-default btn-block">
      Get report
    </button>
  </form>

  </div>
  </div>
  </div>
  </section>
  <div class="container">
    <div class="form-group">
      {%if messages%}
      <ul class="messages">
        {%for m in messages%}
        <div class="alert alert-success">{{ m }}</div>
        {%endfor%}
      </ul>
      {%endif%}
    </div>
  </div>


</body>

</html>